<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <!---->
  <add key="application_name" value="KiAspdotnetFramework"/>
  <add key="email_blockquote_maxcol" value="60"/>
  <add key="failsafe_recipient_email_address" value="kevinandrewlipscomb@mailworks.org"/>
  <add key="membership_establishment_liaison" value="KiAspdotnetFramework_memestablia@frompaper2web.com"/>
  <add key="scratch_folder" value="scratch"/>
  <add key="sender_email_address" value="&quot;KiAspdotnetFramework&quot; &lt;KiAspdotnetFramework@frompaper2web.com&gt;"/>
  <add key="sponsor" value="{sponsor}"/>
  <add key="shared_secret_description" value="registration code"/>
  <add key="sysadmin_sms_address" value="short-message-service@frompaper2web.com"/>
  <add key="temp_password_len" value="8"/>
  <!---->
  <!-- The following appSettings are likely host-dependent. -->
  <!---->
  <add key="host_domain_name" value="frompaper2web.com"/>
  <add key="ssl_base_path" value="frompaper2web.com"/>
  <add key="virtual_directory_name" value="KiAspdotnetFramework"/>
  <add key="smtp_server" value="localhost"/>
</appSettings>
