<connectionStrings>
  <add name="db_connection_string" connectionString="SERVER=localhost; DATABASE=kiaspdotnetframeworkdb_d; USER=ki-aspdotnetfw-d; PASSWORD=~ki-kiaspdotnetframework-d-password~; ALLOWUSERVARIABLES=true; DEFAULTCOMMANDTIMEOUT=300; RESPECTBINARYFLAGS=false; TREATTINYASBOOLEAN=false" />
  <add name="sysadmin_encoded_password" connectionString="~" />
</connectionStrings>