<connectionStrings>
  <add name="db_connection_string" connectionString="SERVER=localhost; DATABASE=kiaspdotnetframeworkdb_x; USER=ki-kiaspdotnetframework-x; PASSWORD=~ki-kiaspdotnetframework-x-password~; ALLOWUSERVARIABLES=true; DEFAULTCOMMANDTIMEOUT=300; RESPECTBINARYFLAGS=false; TREATTINYASBOOLEAN=false" />
  <add name="sysadmin_encoded_password" connectionString="~" />
</connectionStrings>